$breakpoints: (
	'xs': 0,
	'xxs': 400px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
	'xxl': 1600px
) !default;

/*Colors*/
$Primary: #00ADEE;
$Primary2: #003c82;
$Secondary: #f05a28;
$Dgrey: #333333;
$Lgrey: #f6f7f8;
$white: #ffffff;
