$breakpoints: (
	'xs': 0,
	'xxs': 400px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
	'xxl': 1600px
) !default;

/*Colors*/
$Purp: #5a2583;
$DarkPurp: #32184b;
$mageWOM: #E2007a;
$narWOM: #F6A305;
$BlueW:#90D1F4;
$LightPur:#a47ab5;
$YellowW:rgb(255,237,0);
$GreenW: #4DBAB4;


$Grey:#323232;
$LGrey: #e2e2e2;
$LGrey2: #f4f4f4;
$DGrey: #323232;

$error: #FF2424;

$newW: #997FBB;
$white: #ffffff;
